@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #979797;
  text-transform: uppercase;
  scroll-behavior: smooth;
}

html {
  /* --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important; */
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #1fcc70;
}

@layer components {
  .center {
    @apply flex justify-center items-center;
  }
  .border-style {
    @apply border-b border-t border-lineColor py-2;
  }
  .arrow-size {
    @apply w-6 h-6 md:w-9 md:h-9;
  }
  .text-hover {
    @apply hover:text-green duration-300;
  }
  .border-bottom {
    @apply before:absolute before:border-b before:border-lineColor before:bottom-0 before:left-0 md:before:-bottom-2 before:w-full;
  }
  .project-section-container {
    @apply w-full px-3 lg:px-5 py-2 center flex-col;
  }
  .footer-input-style {
    @apply bg-transparent w-full pl-3 uppercase placeholder:text-grayText outline-none placeholder:text-[14px] lg:placeholder:text-xl;
  }
  .form-child-container {
    @apply w-full md:w-10/12 z-[5] relative border-bottom flex flex-row;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #292929 inset !important;
  -webkit-text-fill-color: white !important;
}
